:root {
    --main-color: brown;
    --secondary-color: white;
    --border-color: black;
    --hover-color: blue;
    --active-color: lightblue;
    --font: 'Times New Roman', TImes, serif;
    --right-color: orange;
    --top-color: grey;
}
body {
    margin: 0;
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: var(--font);
}
.calculator-container {
    height: 50%;
    width: 25%;
    border: 5px solid var(--border-color);
    border-radius: 5px;
}
.display {
    width: 100%;
    height: 25%;
    background: var(--secondary-color);
    font-size: 100px;
    display: flex;
    justify-content: right;
    overflow: hidden;
}
.button-container {
    display: grid;
    height: 75%;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
}
button:nth-child(1), button:nth-child(2), button:nth-child(3) {
    background: var(--top-color);
}
button {
    font-size: 30px;
    border: 1px solid var(--border-color);
    font-family: var(--font);
}
button:hover {
    background: var(--hover-color);
    transition: 0.1s;
}   
button:active {
    background: var(--active-color);
}
#zero {
    grid-column: span 2;
}
.right-side {
    background: var(--right-color);
}
